<div>
  <ol>
    <li>Add A button whichh says 'Display Details'</li>
    <li>Add a paragraph with any content of your choice(eg.'Secret Password= tuna'</li>
    <li>Toogle the displaying of that paragraph with the button created in the first step</li>
    <li>Log all button clicks in an array and output that arary below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
    <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
  </ol>
</div>

<div>
  <app-assignment></app-assignment>
</div>



